<div class="pad2y">
  <nav class="round z10 col9 margin3 fill-orange space-bottom small">
    <div class="col3 dark round-left keyline-right pad1 center truncate">
      <div class="pad1y">
        <span class="icon polygon">Vector Tiles</span>
      </div>
    </div>
    <div class="col9 dark tabs mobile-cols pad1"><!--
      --><a href="/developers/vector-tiles/" class="col3 truncate">Vector Tiles</a><!--
      --><a href="#" class="col4 truncate active">Vector Tile Specification</a>
    </div>
  </nav>
</div>